<div class="container border border-dark-rounded mt-5 mb-5 bg-dark " id="body">
    <form #updateRestForm =ngForm>
        <div class="row">
            <h3 class="text-center mt-4 mb-3 text-light">Update Restaurent Details</h3>
            <div class="col-lg-6">

                <div class="mb-2">
                    <input [(ngModel)]="restDetails.id" name="id" placeholder="Resturant Id " type="text" class="form-control">
                </div>

                <div class="mb-2">
                    <input [(ngModel)]="restDetails.neighborhood" name="neighborhood" placeholder="Restaurent neighborhood " type="text" class="form-control">
                </div>

                <div class="mb-2">
                    <input [(ngModel)]="restDetails.photograph" name="photograph" placeholder="Restaurent Image " type="text" class="form-control">
                </div>

                <div class="mb-2">
                    <label for="" class="text-light">Operating Hours</label>
                    <input [(ngModel)]="restDetails.operating_hours.Monday" name="Monday" type="text" class="form-control mb-2" placeholder="Monday">
                    <input [(ngModel)]="restDetails.operating_hours.Tuesday" name="Tuesday" type="text" class="form-control mb-2" placeholder="Tuesday">
                    <input [(ngModel)]="restDetails.operating_hours.Wednesday" name="Wednesday" type="text" class="form-control mb-2" placeholder="Wednesday">
                    <input [(ngModel)]="restDetails.operating_hours.Thursday" name="Thursday" type="text" class="form-control mb-2" placeholder="Thursday">
                    <input [(ngModel)]="restDetails.operating_hours.Friday" name="Friday" type="text" class="form-control mb-2" placeholder="Friday">
                    <input [(ngModel)]="restDetails.operating_hours.Saturday" name="Saturday" type="text" class="form-control mb-2" placeholder="Saturday">
                    <input [(ngModel)]="restDetails.operating_hours.Sunday" name="Sunday" type="text" class="form-control mb-2" placeholder="Sunday">

                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-2">
                    <input [(ngModel)]="restDetails.name" name="rName" type="text" placeholder="Restaurent Name" class="form-control">
                </div>

                <div class="mb-2">
                    <input [(ngModel)]="restDetails.address" name="address" type="text" placeholder="Restaurent Address" class="form-control">
                </div>

                <div class="mb-2">
                    <input [(ngModel)]="restDetails.cuisine_type" name="cusineType" type="text" placeholder="Restaurent Cusine Type" class="form-control">
                </div>

                <div class="mb-2">
                    <label for="" class="text-light">Reviews</label>
                    <input [(ngModel)]="restDetails.reviews[0].name" name="rvname" type="text" class="form-control mb-2" placeholder="Name">
                    <input [(ngModel)]="restDetails.reviews[0].date" name="date" type="text" class="form-control mb-2" placeholder="Date">
                    <input [(ngModel)]="restDetails.reviews[0].rating" name="rating" type="text" class="form-control mb-2" placeholder="Rating">
                    <input [(ngModel)]="restDetails.reviews[0].comments" name="comments" type="text" class="form-control mb-2" placeholder="Comments">
                </div>

                <div class="mb-2">
                    <label for="" class="text-light">Location</label>
                    <input [(ngModel)]="restDetails.latlng.lat" name="latitude" type="text" class="form-control mb-2" placeholder="Latitude">
                    <input [(ngModel)]="restDetails.latlng.lng" name="longitude" type="text" class="form-control mb-2" placeholder="Longitude">
                </div>
            </div>

            <div class="text-center  mt-3 mb-3 ">
                <button (click)="updateRestaurent(updateRestForm)" id="button" type="submit" class="btn border text-light" >Update</button>
            </div>

        </div>
    </form>
</div>